* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s ease-in;
}

body,
input {
  font-family: IBM Plex Sans;
}

.dark {
  transition: 1s ease-in;
  background-color: #1c1e1b !important;
  color: #fff !important;
}

.darkmode {
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.96px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

p {
  line-height: 22px;
  letter-spacing: -0.64px;
}

/* HERO SECTION */

.navbar {
  display: none;
}

.navbar-mobile {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.navbar-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.searchbar input {
  width: 100%;
  margin-right: 34px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
}

::placeholder {
  color: #d8d8d8;
}

.hero {
  display: flex;
  height: 192px;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #9a9898;
}

/* END HERO SECITON */

.company-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
}

.company-img-block {
  display: none;
}

.company-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

button {
  cursor: pointer;
  display: flex;
  width: 111.69px;
  padding: 8.429px 16.859px;
  justify-content: center;
  align-items: center;
  gap: 4.215px;
  border-radius: 31.61px;
  border: 1.054px solid #000;
  background-color: #fff;
}

.founders,
.teams {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background: #e1e1e1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-info .divider {
  background: #000;
  width: 97.402px;
  height: 4px;
  border-radius: 20px;
  flex-shrink: 0;
}

/* FOOTER SECTION */
.footer-desktop {
  display: none;
}

.footer-mobile {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  width: 90%;
  padding: 40px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* END FOOTER SECTION */

/* RESPONSIVE STYLING */

/* TABLET */
@media screen and (min-width: 740px) {
  .hero {
    height: 350px;
  }

  .contact {
    height: 300px;
  }

  .contact-info {
    flex-direction: row;
    gap: 40px;
    flex-shrink: 0;
  }

  .contact-info .divider {
    width: 4px;
    height: 97.402px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  /* HERO SECTION */

  .navbar-mobile {
    display: none;
  }
  .navbar {
    transition: 1s ease-in;
    display: flex;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    position: fixed;
    z-index: 10;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .navbar-left {
    display: flex;
    gap: 20px;
  }

  .navbar svg:hover {
    cursor: pointer;
  }

  .nav-active {
    background-color: #fff;
  }

  .searchbar {
    display: none;
  }

  .hero {
    height: 512px;
    padding: 167px 148px;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
  }

  /*END HERO SECTION */

  /* MAIN SECTION */

  .company-info {
    flex-direction: row;
    height: 1024px;
    padding: 0px 12px; /*KOLLA UPP!*/
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
  }

  .company-img {
    background-image: url("assets/images/info-bild.png");
    background-size: cover;
    min-width: 640px;
    height: 580px;
    flex-shrink: 0;
  }

  .company-about p {
    max-width: 414.209px;
  }

  button {
    display: none;
  }

  .founders {
    height: 926px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
  }

  .founders .text p {
    margin-top: 20px;
  }

  .founders ul {
    margin-left: 25px;
  }

  .founders .text p,
  li {
    max-width: 414.209px;
  }

  .teams {
    display: flex;
    height: 760px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .team .img {
    width: 207.72px;
    height: 207.72px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #d9d9d9;
  }

  .contact {
    height: 374px;
  }

  .contact-info {
    flex-direction: row;
    gap: 40px;
    flex-shrink: 0;
  }

  .contact-info .divider {
    width: 4px;
    height: 97.402px;
  }

  /*END MAIN SECTION */

  /* FOOTER SECTION */

  .footer-mobile {
    display: none;
  }

  .footer-desktop {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .footer {
    display: flex;
    width: 90%;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer p {
    font-size: 14px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
  }

  .support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer p:hover {
    position: relative;
    text-decoration: none;
  }

  .footer p::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .footer p:hover::before {
    transform: scaleX(1);
  }

  .footer p,
  img {
    cursor: pointer;
  }
}
