:root {
  --Primary-Olive: #d3ddd3;
  --Primary-Sand: #e2e1d9;
  --Off-white-dark: #fafafa;
  --Off-white: #fefefe;
  --Off-Black-Dark: #171a16;
  --Off-Black: #1c1e1b;
  --Full-Black: #000;
  --Full-White: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s ease-in;
}

body,
input {
  background-color: var(--Off-white);
  font-family: IBM Plex Sans;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark {
  transition: 1s ease-in;
  background-color: var(--Off-Black-Dark) !important;
  color: #fff !important;
}

.semidark {
  transition: 1s ease-in;
  background-color: var(--Off-Black) !important;
  color: #fff !important;
}

.darkmode {
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.96px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

p {
  line-height: 22px;
  letter-spacing: -0.64px;
}

/* HERO SECTION */

.navbar-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px 20px;
  gap: 10px;
}

.navbar {
  transition: 1s ease-in;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-left,
.language,
.logo-desktop {
  display: none;
}

.navbar svg:hover {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
  transition: ease-in 1s;
}

.menu-icons-mobile {
  display: flex;
  align-items: center;
}

.down-menu-mobile {
  display: none;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-item,
.menu-item-two,
.menu-item-three,
.menu-item-four {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menu-products,
.menu-products-two,
.menu-products-three,
.menu-products-four {
  display: none;
  list-style: none;
}

.menu-item-wrapper li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.menu-item-wrapper li:hover {
  text-decoration: underline;
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.searchbar input {
  width: 100%;
  margin-right: 34px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  background-color: transparent;
}

::placeholder {
  color: #d8d8d8;
  font-size: 14px;
}

.hero {
  display: flex;
  /*background-image: url(assets/images/Om_oss.png);*/
  background-color: var(--Primary-Olive);
  height: 192px;
  width: 100%;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}

/* END HERO SECITON */

.company-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.company-img {
  display: none;
}

.company-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

button {
  cursor: pointer;
  display: flex;
  width: 111.69px;
  padding: 8.429px 16.859px;
  justify-content: center;
  align-items: center;
  gap: 4.215px;
  border-radius: 31.61px;
  border: 1.054px solid #000;
  background-color: #fff;
}

button:hover {
  background-color: #d3ddd3;
  color: #fff;
}

.founders,
.teams {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background: #e1e1e1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-info .divider {
  background: #000;
  width: 97.402px;
  height: 4px;
  border-radius: 20px;
  flex-shrink: 0;
}

/* FOOTER SECTION */
.footer-desktop {
  display: none;
}

.footer-wrapper-mobile {
  display: flex;
  width: 100%;
  padding: 20px 20px 100px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-mobile {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-mobile {
  width: 100%;
  margin-bottom: 30px;
}

.footer-about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
}

.more-about,
.more-about-two,
.more-about-three {
  font-size: 14px;
  flex-direction: column;
  gap: 20px;
}

.plus {
  display: flex;
  cursor: pointer;
}
/* END FOOTER SECTION */

/* RESPONSIVE STYLING */

/* TABLET */
@media screen and (min-width: 740px) {
  .hero {
    height: 350px;
  }

  .contact {
    height: 300px;
  }

  .contact-info {
    flex-direction: row;
    gap: 40px;
    flex-shrink: 0;
  }

  .contact-info .divider {
    width: 4px;
    height: 97.402px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  /* HERO SECTION */

  .navbar-wrapper {
    padding: 0px;
  }

  .navbar {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    position: fixed;
    z-index: 10;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .logo {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .navbar-left {
    display: flex;
    gap: 10px;
  }

  .language {
    display: block;
  }

  .menu-icons-desktop {
    display: flex;
    align-items: center;
  }

  .navbar-right .menu-mobile {
    display: none;
  }

  .menu-icons-mobile {
    display: none;
  }

  .navbar svg:hover {
    cursor: pointer;
  }

  .nav-active {
    background-color: #fff;
  }

  .dropdown-menu {
    width: 400px;
    background-color: #fff;
    position: fixed;
    z-index: 11;
    margin-top: 100px;
    margin-left: 120px;
    padding: 70px 50px;
  }

  .searchbar {
    display: none;
  }

  .hero {
    height: 512px;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
  }

  /*END HERO SECTION */

  /* MAIN SECTION */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 100px 0px 0px 0px;
    gap: 100px;
    margin-top: 100px;
  }

  .company-img {
    display: flex;
    border-radius: 0px 150px 150px 0px;
    background-image: url(/assets/images/Om_oss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 720px;
    height: 660px;
  }

  .company-about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;

    padding-right: 50px;
  }

  .company-about p {
    max-width: 415px;
  }

  button {
    display: none;
  }

  .founders {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 225px;
    gap: 200px;
  }

  .founders .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 415px;
  }

  .founders .text p {
    margin-top: 20px;
  }

  .founders ul {
    margin-left: 25px;
  }

  .founders .text p,
  li {
    max-width: 415px;
  }

  .teams {
    display: flex;
    width: 210px;
    height: 760px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .team .img {
    width: 207.72px;
    height: 207.72px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #d9d9d9;
  }

  .contact {
    height: 374px;
  }

  .contact-info {
    flex-direction: row;
    gap: 40px;
    flex-shrink: 0;
  }

  .contact-info .divider {
    width: 4px;
    height: 97.402px;
  }

  /*END MAIN SECTION */

  /* FOOTER SECTION */

  .footer-wrapper-mobile {
    display: none;
  }

  .footer-wrapper-desktop {
    display: flex;
    background-color: var(--Off-white-dark);
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: ease-in 1s;
  }

  .footer-desktop {
    display: flex;
    width: 85%;
    padding: 40px 20px;
    margin: 100px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  .about-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
  }

  .support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-desktop h4 {
    font-weight: 600;
  }

  .footer-desktop a {
    text-decoration: none;
    color: inherit;
  }

  .footer p {
    font-size: 14px;
  }

  .plus {
    display: none;
  }

  .footer-desktop p:hover {
    position: relative;
  }

  .footer-desktop p::before {
    content: "";
    color: inherit;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--Full-Black);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .footer-desktop p:hover::before {
    transform: scaleX(1);
  }

  .footer-desktop p,
  img {
    cursor: pointer;
  }
}
