:root {
  --check-primary: #000;
  --check-secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s ease-in;
}

body,
input {
  font-family: IBM Plex Sans;
}

.dark {
  transition: 1s ease-in;
  background-color: #000 !important;
  color: #fff !important;
}

.darkmode {
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

h2 {
  line-height: 72px; /* 112.5% */
  letter-spacing: -2.56px;
}

h3,
input {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.96px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
}

p {
  line-height: 22px;
  letter-spacing: -0.64px;
}
button,
svg {
  cursor: pointer;
}

/* HERO SECTION */

.navbar {
  transition: 1s ease-in;
  display: flex;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  position: fixed;
  z-index: 10;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: flex;
  gap: 20px;
}

.navbar-right {
  gap: 5px;
}

.navbar svg:hover {
  cursor: pointer;
}

.nav-active {
  background-color: #fff;
}

.hero {
  display: flex;
  height: 914px;
  padding: 167px 148px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  background-color: #9a9898;
}

/* END HERO SECTION */

/* MAIN SECTION */

.presentation {
  display: flex;
  width: 100%;
  padding: 60px 20px;
  flex-direction: column;
  gap: 10px;
}

.tech {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.tech-img {
  background-image: url("assets/images/redband.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}
.tech .text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.read-more {
  max-width: 320px;
}

.read-more button {
  display: flex;
  width: 110px;
  padding: 8px 16px;
  justify-content: center;
  align-items: flex-end;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 20px;
}

.email {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.email .left {
  background: #969696;
  display: flex;
  width: 50%;
  height: 720px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.email .left h3 {
  text-align: center;
  width: 62%;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #fff;
}

.email .right {
  background: #e1e1e1;
  color: #000;
  display: flex;
  width: 50%;
  height: 720px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.email-input h3 {
  text-align: center;
  width: 62%;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #000;
}

.email-text:hover {
  cursor: pointer;
}

.email-input {
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  text-align: center;
}

.email-btn {
  background: none !important;
  border: none;
}

.email-welcome {
  max-width: 80%;
  text-align: center;
}

.email-welcome span {
  text-decoration: underline;
}

.products {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  min-width: 512px;
  height: 512px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #b5b2b2;
}

.item-img {
  /* border-radius: 15px; */
  border: 1px solid #000;
  /* width: 330px; */
  width: 260px;
  height: 330px;
  flex-shrink: 0;
}

.item-text {
  display: flex;
  color: #000;
  width: 250px;
  height: 31px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.item-info {
  display: flex;
  color: #000;
  width: 250px;
  height: 21px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.contact-wrapper {
  display: flex;
  width: 100%;
  height: 374px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #e1e1e1;
}

.contact-info {
  display: flex;
  width: 100%;
  height: 386px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  color: #000;
}

.divider {
  width: 4px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #000;
}

/* END MAIN SECTION */

/* FOOTER SECTION */

.footer-wrapper-mobile {
  display: none;
}

.footer-wrapper-desktop {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-desktop {
  display: flex;
  width: 90%;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.about-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer p {
  font-size: 14px;
}

.plus {
  display: none;
}

.footer p:hover {
  position: relative;
}

.footer p::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--check-primary);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.footer p:hover::before {
  transform: scaleX(1);
}

.footer p,
img {
  cursor: pointer;
}

/* END FOOTER SECTION */

@media screen and (max-width: 740px) {
  .navbar {
    padding: 12px 20px;
  }
  .navbar-left {
    display: none;
  }

  .search svg {
    justify-content: center;
    align-items: bottom;
  }

  .presentation {
    padding: 60px 0px;
    gap: 50px;
  }
  .tech {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
  }

  .tech .text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .read-more p {
    width: 80%;
  }

  .read-more {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-img {
    align-self: center;
    width: 320px;
    height: 300px;
  }

  .two {
    flex-direction: column-reverse;
  }

  .email {
    flex-direction: column;
  }

  .email .left {
    width: 100%;
    height: 394px;
    justify-content: center;
    align-items: center;
  }

  .email .right {
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .products {
    display: none;
  }

  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .divider {
    display: flex;
    width: 100px;
    height: 4px;
  }

  .footer-desktop {
    display: none;
  }

  .footer-wrapper-mobile {
    display: flex;
    width: 100%;
    padding: 20px 20px 100px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-mobile {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .about-mobile {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-about {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
  }

  .more-about,
  .more-about-two,
  .more-about-three {
    font-size: 14px;
    flex-direction: column;
    gap: 20px;
  }

  .more-about a {
    text-decoration: none;
    color: inherit;
  }
  .plus {
    display: flex;
    cursor: pointer;
  }
}

/* TEST */
/* TEST */
/* TEST */
/* TEST */
/* TEST */

/* .scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
} */
